* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background: black;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../img/cuenta/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* --------------------------HEADER--------------------------------------------------------- */

.contenido {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav .logo {
    display: flex;
    padding-top: 25px;
    padding-left: 3%;
    width: 210px;
    cursor: pointer;
    max-width: 500px;
}

/* ----------------------------CAJA DEL FORMULARIO------------------------------------------- */

.caja {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 40%;
    max-width: 600px;
    border-radius: 5px;
    align-self: center;
    padding: 50px 70px 30px 70px;
    margin: auto;
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
}

.caja h2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.caja .form {
    display: flex;
    flex-direction: column;
}

.caja .form input {
    border: none;
    padding: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #333;
    border-radius: 5px;
    color: white;
}

input, select, textarea {
    color: white;
}
textarea:focus, input:focus {
    color: white;
    outline: 2px solid #e50914;
}

.caja button {
    border: none;
    padding: 15px;
    background-color: #e50914;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.caja button:hover {
    background-color: #f40612;
}

/* ----------------------------BOTÓN VOLVER------------------------------------------- */
.btn-volver {
    display: inline-block;
    margin-top: 25px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #e50914;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.btn-volver:hover {
    background-color: #e50914;
}


/* -----------------------SUBSCRIPCIÓN------------------------------------------- */

.caja .subscripcion {
    text-align: center;
    margin-top: 20px;
}

.caja .subscripcion p {
    color: gray;
}

.caja .subscripcion p span {
    color: white;
    font-weight: 600;
}

.caja .subscripcion a {
    color: #0071eb;
    text-decoration: none;
}

.caja .subscripcion a:hover {
    text-decoration: underline;
}

/* -----------------------RESPONSIVE------------------------------------------- */
@media only screen and (max-width: 768px) {
    .caja {
        width: 80%;
        padding: 40px 30px;
        margin: 10% auto;
    }

    .caja h2 {
        font-size: 26px;
    }

    .caja button {
        padding: 12px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/cuenta/background.jpg");
        background-size: cover;
        background-position: center;
    }

    .caja {
        width: 70%;
        padding: 30px 20px;
        margin: 20% auto;
    }

    .caja h2 {
        font-size: 20px;
    }

    .caja .form input {
        padding: 13px;
        font-size: 12px;
    }

    .caja button {
        padding: 10px;
        font-size: 12px;
    }

    .btn-volver {
        font-size: 12px;
        padding: 8px 16px;
        
    }
}
